<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div>
	<table id='header_table'>
		<tr>
			<th class='header_th'>
				<a class='menu_link' id='selected_link' href="index.html">home</a>
			</th>

			<th class='header_th'>
				<a class='menu_link' href="ingests.html">ingests</a>
			</th>

			<th class='header_th'>
				<a class='menu_link' href="uploaders">uploaders</a>
			</th>

			<th class='header_th'>
				<a class='menu_link' href="tables.html">tables</a>
			</th>

			<th class='header_th'>
				<a class='menu_link' href="tabular.html">tabular</a>
			</th>

			<th class='header_th'>
				<a class='menu_link' href="triples.html">triples</a>
			</th>

			<th class='header_th'>
				<a class='menu_link' href="query.html">query</a>
			</th>
		</tr>
	</table>
</div>

<p>This is the ingest system!</p>

</body>
</html>


